<h1>Hello Dear <%= staff.first_name %></h1>
<h3 class="card-title">Clubs assigned: </h3>
<br>
<table class="table table-striped table-hover table-bordered border-dark">
  <thead class="table-success">
    <tr>
      <th>Club Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% staff.clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td>
          <%= button_to "Show Students", show_students_path(staff_id: staff.id, club_id: club.id), method: :get, class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
