<p style="color: green"><%= notice %></p>

<div class="container mt-4">
  <h1>Staffs</h1>

  <div id="staffs">
    <% @staffs.each do |staff| %>
      <%= render staff %>
      <p>
      </p>
    <% end %>
  </div>

</div>
