<h1>Edit Club Info</h1>
<%= render "editform", club: @club %>
<br>
<div>
  <!--<%= link_to "Show this club", @club, class:"btn btn-primary btn-sm" %> -->
  <%= link_to "Back to clubs", clubs_path, class:"btn btn-secondary btn-block" %>
</div>
