<h3>Activities Budget (RM)</h3>
<%= column_chart Activity.joins(:club).where(status: "Approved").group("clubs.name", "activities.activity_title").sum(:requested_budget), discrete: true, stacked: true, colors: ["#2196F3", "#F44336", "#FFEB3B", "#8BC34A", "#9E9E9E"], legend: "bottom" %>
