<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Assign Budget</th>
  </tr>
  <tr>
    <td>ActiveEdge Technologies</td>
    <td>AET15-4571</td>
    <td>Teacher</td>
    <td>activeedgetechnologies@gmail.com</td>
    <td>$5000</td>
  </tr>
  <tr>
    <td>ActiveEdge Technologies</td>
    <td>AET15-4571</td>
    <td>Teacher</td>
    <td>activeedgetechnologies@gmail.com</td>
    <td>$5000</td>
  </tr>
  <tr>
    <td>ActiveEdge Technologies</td>
    <td>AET15-4571</td>
    <td>Teacher</td>
    <td>activeedgetechnologies@gmail.com</td>
    <td>$5000</td>
  </tr>


</table>
