<h1>Editing club advisor</h1>

<%= render "form", club_advisor: @club_advisor %>

<br>

<div>
  <%= link_to "Show this club advisor", @club_advisor %> |
  <%= link_to "Back to club advisors", club_advisors_path %>
</div>
