<div id="<%= dom_id inventory_history %>">
  <p>
    <strong>Inventory:</strong>
    <%= inventory_history.inventory_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory_history.quantity %>
  </p>

</div>
