<h1>Editing inventory history</h1>

<%= render "form", inventory_history: @inventory_history %>

<br>

<div>
  <!--<%= link_to "Show this inventory history", @inventory_history %> |-->
  <!--<%= link_to "Back to inventory histories", inventory_histories_path %>-->
</div>
