<div id="<%= dom_id staff_activity %>">
  <p>
    <strong>Staff:</strong>
    <%= staff_activity.staff_id %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= staff_activity.activity_id %>
  </p>

</div>
