<h1>Editing staff activity</h1>

<%= render "form", staff_activity: @staff_activity %>

<br>

<div>
  <%= link_to "Show this staff activity", @staff_activity %> |
  <%= link_to "Back to staff activities", staff_activities_path %>
</div>
