<nav class='head_container'>
  <div class='School_logo'>
    <%= link_to image_tag("semi-1.png", alt: "semi abim logo", style: "width: 100px; height: 100px;"), root_path %>
    <div class='logo-text'>
      <div class="logo-text1">Good Day 💫</div>
      <div class="logo-text2">Mr Morgan</div>
    </div>
  </div>
  <div class="header-content">
    <div class="dashboard-text">....Administrative/<span style="color: orange;">Dashboard</span></div>
    <div class="notification">
      <%= image_tag "notification.png", alt: "notification", class: "notification-icon"%>
    </div>
  </div>
</nav>
