<div class="sidebar">
  <div>
    <div class="icon"><%= link_to root_path, class:"custom-link" do %><i class="fa fa-bar-chart"></i>
      <% end %>
    </div>
    <div class="icon"><%= link_to clubs_path, class:"custom-link" do %><i class="fa fa-pencil-square"></i>
      <% end %>
    </div>
    <div class="icon"><%= link_to clubs_finance_path, class:"custom-link" do %><i class="fa fa-usd"></i>
      <% end %>
    </div>
  </div>
  <div class="icon"><i class="fa fa-question-circle"></i></div>
</div>
