<!--KHAIRUL FAHMI BIN MOHD YUSOF -->
<div class="card upcoming-events-card ">
  <p style="font-weight: normal;font-size: 25px">Upcoming Events</p>
  <div>
    <table style="margin-bottom:10%;">
      <tr>
        <td></td>
        <td>Day<br>
          Activity 1 Desc <br>
          <br>
          <div class="float">12th February 2023</div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Day<br>
          Activity 2 Desc <br>
          <br>
          <div class="float">12th February 2023</div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Day<br>
          Activity 3 Desc <br>
          <br>
          <div class="float">12th February 2023</div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Day<br>
          Activity 4 Desc <br>
          <br>
          <div class="float">12th February 2023</div>
        </td>
      </tr>
    </table>
  </div>
</div>
