<h1>Editing club member</h1>

<%= render "form", club_member: @club_member %>

<br>

<div>
  <%= link_to "Show this club member", @club_member %> |
  <%= link_to "Back to club members", club_members_path %>
</div>
