<p style="color: green"><%= notice %></p>
<h1>Club members</h1>
<div id="club_members">
  <% @club_members.each do |club_member| %>
    <%= render club_member %>
    <p>
      <%= link_to "Show this club member", club_member %>
    </p>
  <% end %>
</div>
<%= link_to "New club member", new_club_member_path %>
