/* Calendar content */

.calendar-container {
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    height: 350px;
    border-radius: 1%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.today {
    /* Changed the background color to a light green to contrast with the white background */
    background-color: #6AABD4;
    font-weight: bold;

    /* Added padding and margin to create some space around the current date */
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}