table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}


.center-text {
    text-align: center;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.actions {
    text-align: center;
}


table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.default-table,
.default-table tr,
.default-table th,
.default-table td {
    background-color: transparent;
    border: initial;
    padding: initial;
    text-align: initial;
    font-size: initial;
    letter-spacing: initial;
    text-transform: initial;
    table-layout: auto;

}

@media screen and (max-width: 600px) {
    .default-table {
        border: initial;
    }

}


@media screen and (max-width: 600px) {
    table {
        border: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;

    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;

    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: left;
        min-height: 50px;
        width: 100%;
        /* Add this line */

        /* Add a minimum height */
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 10px;
        /* adjust this value as needed */

    }

    table td:last-child {
        border-bottom: 0;
    }
}

/* general styling */
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}