<head>
    <style>
        .head_container {
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.1111% 2.2222%;
            font-family: calibri, arial;
        }

        .School_logo {
            display: flex;
            align-items: center;
        }

        .logo-text {
            margin-left: 1.1111vw;
            color: #233255;
            display: flex;
            flex-direction: column; 
        }

        .logo-text1 {
            margin: 0; 
            font-size: 2.5vw; 
        }

        .logo-text2 {
            margin: 0; 
            font-size: 1.9vw; 
        }
        
        .header-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }

        .dashboard-text {
            margin-bottom: 1.3333vh;
        }

        .notification {
            display: flex;
            align-items: center;
        }

        .notification-icon {
            margin-right: 0.8889vw;
            height: 2.7778vh;
            margin-bottom: 1.3333vh;
        }

        .search-box {
            border-radius: 0.7778vw;
            border: 0.0521vw solid #ccc;
            padding: 1.1111vw;
            margin-bottom: 1.3333vh;
            display: flex;
            align-items: center;
            width: 15.625vw;
            height: 0.3vw;
        }
    </style>
</head>
<div class = 'container'>
<nav class='head_container'>
    <div class='School_logo'>
        <%= image_tag "semi-1.png", alt: "semi abim logo", style: "width: 14%; height: 14%;" %>
        <div class='logo-text'>
            <div class="logo-text1">Good Day 💫</div>
            <div class="logo-text2">Mr Morgan</div>
        </div>
    </div>

 <div class="header-content">
        <div class="dashboard-text">....Administrative/<span style="color: orange;">Dashboard</span></div>
        <div class="notification">
            <%= image_tag "notification.png", alt: "notification", class: "notification-icon"%>
        </div>
  </div>
</nav>