<!--KHAIRUL FAHMI BIN MOHD YUSOF -->

<style>

        table { 
            width: 95%; 
  border-collapse: separate; 
  border-spacing: 0px 1em;
  border: 0px solid black;
        } 
          
        th, td { 
            padding: 1px; 
        } 
        tr{
          height: 10px;
        }
          
        tr:nth-child(even) { 
            background-image: linear-gradient(to right, #8FE0A5, #FbF2CB);
        } 

        tr:nth-child(odd){
          background-image: linear-gradient(to right, #8FE0A5, white);
        }

        tbody>tr:nth-child(odd) > td:nth-child(1) {
          background-color: #38A569;
          color: #38A569;
        }
        tbody>tr:nth-child(even) > td:nth-child(1) {   
          background-color: #EB4245;
          color: #EB4245; 
        }
        

.float {
  float: right;
}
.passivebtn{
}

.btn-dark{
  background-color: #444745;
  color: #F8BC30;
}
.xtvtbtn{
  transition-duration: 0.4s;
  border-radius: 100px;
}

.xtvtbtn:hover{
  background-color: #444745;
  color: #F8BC30;
  border: 1px solid #555555;

}

.activebtn{
  background-color: #444745;
  color: #F8BC30;
  border: 1px solid #555555;

}
  
</style>
<div class="card" style="width: 30%; padding: 10px; border-radius:20px;
  box-shadow: 3px 3px 10px gray;">
  <p style="font-weight: normal;font-size: 30px">Upcoming Events</p>


<div class="d-flex justify-content-center">

  <div class="p-2"><button type="button" class="btn btn-dark xtvtbtn activebtn" style="padding-left:20px;padding-right:20px;">All</button></div>
  
  <div class="p-2"><button type="button" class="btn btn-outline-info xtvtbtn ">Today</button></div>
  <div class="p-2"><button type="button" class="btn btn-outline-info xtvtbtn ">Weekly</button></div>
  <div class="p-2"><button type="button" class="btn btn-outline-info xtvtbtn ">Monthly</button></div>
 </div>



  <div>
    <table style="margin-bottom:10%;">
      <tr>
        <td></td>
        <td>Day<br>
            Activity 1 Desc <br><br>
            <div class="float">12th February 2023</div>
          </td>
      </tr>
      <tr>
        <td></td>
        <td>Day<br>
            Activity 2 Desc <br><br>
            <div class="float">12th February 2023</div>
          </td>
      </tr>
      <tr>
        <td></td>
        <td>Day<br>
            Activity 3 Desc <br><br>
            <div class="float">12th February 2023</div>
          </td>
      </tr>
      <tr>
        <td></td>
        <td>Day<br>
            Activity 4 Desc <br><br>
            <div class="float">12th February 2023</div>
          </td>
      </tr>
    </table>
  </div>
</div>