<!--KHAIRUL FAHMI BIN MOHD YUSOF -->

<div class="card" style="width: 30%; padding: 10px; border-radius:20px;
  box-shadow: 3px 3px 10px gray;">
  <p style="font-weight: normal;font-size: 30px">Upcoming Events</p>


<div class="d-flex justify-content-center">

  <div class="p-2"><button type="button" class="btn btn-dark xtvtbtn activebtn" style="padding-left:20px;padding-right:20px;">All</button></div>
  <div class="p-2"><button type="button" class="btn btn-outline-info xtvtbtn ">Today</button></div>
  <div class="p-2"><button type="button" class="btn btn-outline-info xtvtbtn ">Weekly</button></div>
  <div class="p-2"><button type="button" class="btn btn-outline-info xtvtbtn ">Monthly</button></div>
</div>

  <div>
    <table style="margin-bottom:10%;">
      <tr>
        <td></td>
        <td>Day<br>
            Activity 1 Desc <br><br>
            <div class="float">12th February 2023</div>
          </td>
      </tr>
      <tr>
        <td></td>
        <td>Day<br>
            Activity 2 Desc <br><br>
            <div class="float">12th February 2023</div>
          </td>
      </tr>
      <tr>
        <td></td>
        <td>Day<br>
            Activity 3 Desc <br><br>
            <div class="float">12th February 2023</div>
          </td>
      </tr>
      <tr>
        <td></td>
        <td>Day<br>
            Activity 4 Desc <br><br>
            <div class="float">12th February 2023</div>
          </td>
      </tr>
    </table>
  </div>
</div>